@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');
:root {
    --font-main: 'Poppins', sans-serif;
    --font-symbol: "Noto Sans Symbols 2", sans-serif;
    --font-size: 16px;
    --gutters: calc(var(--font-size)* 2)
}

 * {border:1px solid red;}  

body {
    font-family: var(--font-main);
    font-size: var(--font-size);
}

nav {
    font-size: calc(var(--font-size) / 1.2);
    display: flex;
    justify-content: space-between;
    padding-top: var(--gutters);
    padding-left: var(--gutters);
    padding-right: var(--gutters);
}

header {
    padding-left: var(--gutters);
    padding-right: var(--gutters);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    padding-left: var(--gutters);
    padding-right: var(--gutters);
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: var(--gutters);
    margin-bottom: calc(var(--gutters)* 4);
}



h1 {
    font-size: calc(var(--font-size) * 5);
    font-weight: 600;
    line-height: 100%;
    padding-bottom: calc(var(--gutters)*1);
    padding-top: calc(var(--gutters)*2);
    position: sticky;
}

h2 {
    font-size: calc(var(--font-size) * 1.2);
    font-weight: 500;
    margin-bottom: 10px;
}

.intro {
    max-width: 45ch;
}


img {
    display: block;
    width: 50%;
    max-width: 50%;
}

summary {
    border-bottom:1px solid black;
    display:flex;
    justify-content: space-between;
}

.txt_block {
    padding-bottom: var(--gutters);
    padding-top: var(--gutters);
    padding-left: var(--gutters);
    padding-right: var(--gutters);
    background-color: rgb(0, 0, 0);
    color: white;

}

blockquote {
    font-size: calc(var(--font-size));
    font-weight: 600;
}

audio {
    width: 50%;
    max-width: 50%;
}

.side_fg {
    display: flex;
    flex-direction: row;
    gap: var(--gutters);
}

.reg_fg {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gutters) /2);
}

.cap {
    font-size: calc(var(--font-size) / 1.2);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

a:hover {
    text-decoration: underline;
}

.outwards::after {
	font-family: var(--font-symbol);
    font-size:80%;
    font-weight: 800;
	content: ' \2197'; 
}
.days {
    font-weight: 500;
    color: rgb(0, 70, 220);
}
.date{
    font-family: monospace;
}
.tag {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

footer {
    font-size: calc(var(--font-size) / 1.2);
    color: white;
    background-color: black;
    padding-top: var(--gutters);
    padding-bottom: var(--gutters);
    padding-left: var(--gutters);
    padding-right: var(--gutters);
}

@media(min-width: 600px) {

    :root {
    --font-size: 20px;
    }
}

@media(min-width: 1200px) {

    :root {
        --font-size: 26px;
        }

    header {
        flex-direction: row;
        row-gap: var(--gutters);
        align-items: center;
    }

    .intro {
        padding-left: calc(var(--gutters)*2);
    }

    ul {
        flex-direction: row;
        flex-wrap: wrap;
  
    }
}